body {
    background-color: #F3F5F2 !important;
    color: #06E6B0;
    font-family: Balsamiq sans;
}

nav {
    position: fixed;
    /* color: #06E6B0; */
    color: #5bddf5 !important;
    /* background: rgba(242, 233, 220, .1)!important; */
}

#navbar {
    background: rgba(242, 245, 242, .8)!important;
    color: #5bddf5!important;
}

.navbar-brand {
    color: #5bddf5 !important;    
    /* background-color: #C0D8E0 !important; */

}

.nav-link {
    color: #06E6B0 !important;
}
.headerimg {
    width: 100%;
}

#contactus {
    text-align: center;
}

h2 {
    text-align: center;
}


footer {
    background-color: #5BDDF5;
    text-align: center;
    color: #F3F5F2;
}


#submit {
    color: #f959b1;
}

#submit:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

/* .form-control {
    background-color: rgba(78, 105, 65, .7)
} */

.headerimg {
    width: 100%;
}