body {
    background-color: #F2E9DC !important;
    color: #4E6941;
    font-family: Balsamiq sans;
}

nav {
    position: fixed;
    color: #4E6941;
    /* background: rgba(242, 233, 220, .1)!important; */
}

#navbar {
    background: rgba(242, 233, 220, .8)!important;
}

.navbar-brand {
    color: #4E6941 !important;    
    /* background-color: #C0D8E0 !important; */

}

.nav-link {
    color: #4E6941 !important;
}

.headerimg {
    width: 100%;
}

#contactus {
    text-align: center;
}

h2 {
    text-align: center;
}

footer {
    background-color: #4E6941;
    text-align: center;
    color: #F2E9DC;
}

#submit {
    color: #4E6941;
}

#submit:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

#firstname {
    color: #4E6941;
}