body {
    background-color: #F3F5F2 !important;
    color: #06E6B0;
    font-family: Balsamiq sans;
}

nav {
    position: fixed;
    /* color: #06E6B0; */
    color: #5bddf5 !important;
    /* background: rgba(242, 233, 220, .1)!important; */
}

#navbar {
    background: rgba(242, 245, 242, .8)!important;
    color: #5bddf5!important;
}

.navbar-brand {
    color: #5bddf5 !important;    
    /* background-color: #C0D8E0 !important; */

}

.nav-link {
    color: #06E6B0 !important;
}

.nav-link:hover {
    color: #f959b1 !important;
}

.headerimg {
    width: 100%;
}

footer {
    background-color: #5BDDF5;
    text-align: center;
    color: #F3F5F2;
}

#mainbody {
    text-align: center;
}
