body {
    background-color: #F3F5F2 !important;
    color: #06E6B0;
    font-family: Balsamiq sans;
}

nav {
    position: sticky;
    color: #5bddf5 !important;
}

#navbar {
    background: rgba(242, 245, 242, .8)!important;
    color: #5bddf5!important;
}

.navbar-brand {
    color: #5bddf5 !important;    
}

.nav-link {
    color: #06E6B0 !important;
}

.nav-link:hover {
    color: #f959b1 !important;
}

.headerimg {
    width: 100%;
}

footer {
    background-color: #5BDDF5;
    text-align: center;
    color: #F3F5F2;
}

#mainbody {
    text-align: center;
}

.container {
    text-align: center;
}

.img-fluid {
    max-width: 200px;
    max-height: 200px;
}

.svcs:hover {
    transform: scale(1.1);
}

h1 {
    text-align: center;
}
p, h5 {
    text-align: center;
}

h5 {
    color: #f959b1;
}

.headerimg {
    width: 100%;
}

.card {
    color: #5BDDF5;
    background-color: #F3F5F2;
    border: #F3F5F2;
}


@keyframes bounce {
    0%, 20%, 60%, 100% {
      -webkit-transform: translateY(0);
      transform: translateY(0);
    }
  
    40% {
      -webkit-transform: translateY(-20px);
      transform: translateY(-20px);
    }
  
    80% {
      -webkit-transform: translateY(-10px);
      transform: translateY(-10px);
    }
  }
  
  .card:hover {
    animation: bounce .5s;
}

#contactus {
    text-align: center;
}

h2 {
    text-align: center;
}

#hours{
    color: #f959b1;
}
footer {
    background-color: #5BDDF5;
    text-align: center;
    color: #F3F5F2;
}


#submit {
    color: #f959b1;
}

#submit:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

#content {
    color: #5BDDF5
}

.headerimg {
    width: 100%;
}

#market {
    display: flex;
    flex-direction: row;
    text-align: center;
    flex-wrap: wrap;
    justify-content: center;
}

#market img {
    margin: 10px;
}

#button {
    margin-bottom: 50px;
}

#market h5 {
    margin: 0px 0px 0px;
}

h4 {
    color: #5bddf5;
    
    margin-top: 2px;
}

#logodiv {
    max-height: 80px;
    margin-bottom: 75px;
}
#confetti-holder {
    width: 100%;
    position: fixed;
    justify-items: normal;
    z-index: -1;
}

*{
    margin: 0;
    padding: 0;
}

body,html {
    height: 100%;
}

#button:hover {
    background-color: transparent;
    color: white;
    border: none;
    background-image:     linear-gradient(
       to right, 
       #F959B1,
       #F959B1 16.65%,
       #06E6B0 16.65%,
       #06E6B0 33.3%,
       #F8B54C 33.3%,
       #F8B54C 49.95%,
       #FB3252 49.95%,
       #FB3252 66.6%,
       #5BDDF5 66.6%,
       #5BDDF5 83.25%,
       #412E28 83.25%,
       #412E28 100%,
       #F959B1 100%
      
      
      
     );
   animation:slidebg 3s linear infinite;
 }
 
 
 @keyframes slidebg {
   to {
     background-position:20vw;
   }
 }
 
 .follow{
   margin-top: 40px;
 }
 
 .follow a{
   color: black;
   padding: 8px 16px;
   text-decoration: none;
 }
 
 /* #market img {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: box-shadow, transform;
    transition-property: box-shadow, transform;
  }
  #market img:hover, #market img:focus, #market img:active {
    box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  } */
/* Buzz */
@-webkit-keyframes hvr-buzz {
    50% {
      -webkit-transform: translateX(3px) rotate(2deg);
      transform: translateX(3px) rotate(2deg);
    }
    100% {
      -webkit-transform: translateX(-3px) rotate(-2deg);
      transform: translateX(-3px) rotate(-2deg);
    }
  }
  @keyframes hvr-buzz {
    50% {
      -webkit-transform: translateX(3px) rotate(2deg);
      transform: translateX(3px) rotate(2deg);
    }
    100% {
      -webkit-transform: translateX(-3px) rotate(-2deg);
      transform: translateX(-3px) rotate(-2deg);
    }
  }
  #market img {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  }
  #market img:hover, #market img:focus, #market img:active {
    -webkit-animation-name: hvr-buzz;
    animation-name: hvr-buzz;
    -webkit-animation-duration: 0.15s;
    animation-duration: 0.15s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
  }