body {
    background-color: #F3F5F2 !important;
    color: #06E6B0;
    font-family: Balsamiq sans;
}

nav {
    position: fixed;
    /* color: #06E6B0; */
    color: #5bddf5 !important;
    /* background: rgba(242, 233, 220, .1)!important; */
}

#navbar {
    background: rgba(242, 245, 242, .8)!important;
    color: #5bddf5!important;
}

.navbar-brand {
    color: #5bddf5 !important;    
    /* background-color: #C0D8E0 !important; */

}

.nav-link {
    color: #06E6B0 !important;
}

.nav-link:hover {
    color: #f959b1 !important;
}

.headerimg {
    width: 100%;
}

footer {
    background-color: #5BDDF5;
    text-align: center;
    color: #F3F5F2;
}

#mainbody {
    text-align: center;
}

.container {
    text-align: center;
}

.img-fluid {
    max-width: 200px;
    max-height: 200px;
}

.svcs:hover {
    transform: scale(1.1);
}

h1 {
    text-align: center;
}
p, h5 {
    text-align: center;
}

h5 {
    color: #f959b1;
}

.headerimg {
    width: 100%;
}

.card {
    color: #5BDDF5;
    background-color: #F3F5F2;
    border: #F3F5F2;
}


@keyframes bounce {
    0%, 20%, 60%, 100% {
      -webkit-transform: translateY(0);
      transform: translateY(0);
    }
  
    40% {
      -webkit-transform: translateY(-20px);
      transform: translateY(-20px);
    }
  
    80% {
      -webkit-transform: translateY(-10px);
      transform: translateY(-10px);
    }
  }
  
  .card:hover {
    animation: bounce .5s;
}

#contactus {
    text-align: center;
}

h2 {
    text-align: center;
}

#hours{
    color: #f959b1;
}
footer {
    background-color: #5BDDF5;
    text-align: center;
    color: #F3F5F2;
}


#submit {
    color: #f959b1;
}

#submit:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

#content {
    color: #5BDDF5
}

.headerimg {
    width: 100%;
}

#market {
    display: flex;
    flex-direction: row;
    text-align: center;
    flex-wrap: wrap;
    justify-content: center;
}

#market img {
    margin: 10px;
}

#market button {
    margin-bottom: 50px;
}

#market h5 {
    margin: 0px 0px 0px;
}

h4 {
    color: #5bddf5;
    
    margin-top: 2px;
}

#logodiv {
    max-height: 80px;
    margin-bottom: 75px;
}
#confetti-holder {
    width: 100%;
    position: fixed;
    /* size: 5px; */
    justify-items: normal;
}

*{
    margin: 0;
    padding: 0;
}

body,html {
    height: 100%;
}